@tailwind base;
@tailwind components;
@tailwind utilities;


.letter {
display:inline-block;
opacity:0;
transform:scale(0.9);
}

.text {
    text-shadow: 1px 1px #6b21a8,
                 2px 2px #6b21a8,
                 3px 3px #6b21a8,
                 4px 4px #6b21a8,
                 5px 5px #6b21a8,
                 6px 6px #6b21a8;
}